body{
  font-family: "Averia";
  text-align: center;
}

.container-fluid{
  padding: 3% 7% 15%;
}
#title{
  background-color: #BA94D1;
}

.navbar{
  padding: 0 0 4.5rem;

}

.nav-item{
  padding: 0 18px;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;

}
.kimage:hover{
  opacity: 0.5;
}
.section1-image1{
  width: 60%;
  transform: rotate(20deg);

}
.section1-image2{
  padding-top: 3%;
  width: 30%;
  transform: rotate(-20deg);
}
.title-heading-btn{
  padding: 5px 10px 5px 10px;
  margin: 5% 80% 5% 0;

}
h1{
  font-family: "Montserrat-dark";
  font-size: 3.5rem;
  font-weight: bold;
}
#title .title-heading{
  color: #fff;
  text-align: left;
}
#features .container-fluid{
  padding-bottom: 7%;
}
.feature-box{
  padding: 4%;
  margin-top: 2%;
}

.icon{
  color:#FF8DC7;
  margin-bottom: 2rem;
}
.icon:hover{
  color: pink;
}

.feature-description{
  font-size: 1.5rem;

}
.moving-onclick{
  background-color: #FF8DC7;
}
.kurta-model{
  border-radius: 100%;
  padding:10px;
}

.ad1{
  background-color: #FF8DC7;
  text-align: center;
  padding: 3% auot auto 3%;

}
.ad-logo{
  width:10%;
  margin: 20px 30px 50px;

}

.social-icon{
  margin: 10px 20px;
}
#footer .container-fluid{
  padding-bottom: 3%;
}
